<div class="well">

    <label for="firstname">First Name:
    </label>
    <input name="firstName" type="text" ng-model="firstName" required/><br/>
    <label for="lastName">LastName:
     </label>
    <input name="lastName" type="text" ng-model="lastName" required/></br>
    </label>
        <input type="submit" value="Submit"  ng-click="submit()"/>

    <p style="font-family:arial;color:green;font-size:20px;">{{result}}</p>
    <p style="font-family:arial;color:red;font-size:20px;">{{result1}}</p>

</div>